In [28]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json('pessoas.json')

# olhando o banco de dados dos exercicios de 1 ao 6

In [8]:
# Olhando 5 primeilas linhas
df.head()

,nome,idade,data_nasc,sexo,signo,cidade,estado,altura,peso,tipo_sanguineo,cor
0,Silvana Hadassa,NaN,12/06/1964,Feminino,Gêmeos,Brasília,DF,"1,67",50,A+,vermelho
1,Thales Kaique,27.0,10/12/1993,Masculino,Sagitário,Campo Grande,MS,"1,63",110,B+,laranja
2,Henry Nathan,29.0,21/09/1991,Masculino,Virgem,Macapá,AP,"1,86",106,AB-,verde
3,Lorenzo Vinicius,64.0,22/10/1956,Masculino,Libra,Contagem,MG,"1,87",100,O+,vermelho
4,Cauã Henrique,50.0,09/03,Masculino,Peixes,Rondonópolis,MT,"1,74",83,O-,vermelho

In [10]:
# olhando o tipo de cada coluna

df.dtypes

nome               object
idade             float64
data_nasc          object
sexo               object
signo              object
cidade             object
estado             object
altura             object
peso                int64
tipo_sanguineo     object
cor                object
dtype: object

In [15]:
# dados faltantes
df.isnull().sum()

nome               0
idade             15
data_nasc          0
sexo               0
signo              0
cidade             0
estado             0
altura             0
peso               0
tipo_sanguineo     0
cor                0
dtype: int64

In [25]:
df['data_nasc'].head()

0    12/06/1964
1    10/12/1993
2    21/09/1991
3    22/10/1956
4         09/03
Name: data_nasc, dtype: object

a)Como a idade tem 15 dados faltantes vou calcula usa idade pela data de nascimento
b)há data de nacimento que não o seu ano, vou corrigir olhando a idadde

init I)  antes de tudo vou ver a idade vou ver qual foi o ano que os dados foram adquiridos
init II) qual foi a útima data adquirida

# respostas

### init I)

In [43]:
aux = []
for i in range(df.shape[0]):
    if df['data_nasc'][i][6:] !='':
        aux.append(i)

In [44]:
aux = np.array(aux)

In [59]:
anos = np.zeros(len(aux))
for i in range(len(aux)):
    anos[i] = int(df['data_nasc'][aux[i]][6:])

In [67]:
ano_g = np.unique(df['idade'][aux].values + anos)

In [72]:
print('ano que foi gravado os dados ',int(ano_g[np.isnan(ano_g) == 0][0]))

ano que foi gravado os dados  2020

### init II)

In [76]:
print('data de nacimento da pessoa mais velha',df['data_nasc'][np.argmax(df['idade'])])

data de nacimento da pessoa mais velha 09/10/1942

por causa disso vou considera que todos ja fizeram aniversario em 2020

# resolvendo a)

In [97]:
data_faltante = df['data_nasc'][df['idade'].isnull()]
index = data_faltante.index

In [98]:
data_faltante.index = np.arange(data_faltante.shape[0])

In [99]:
ano_ft = [] 
for i in range(data_faltante.shape[0]):
    ano_ft.append(int(data_faltante[i][6:]))

In [100]:
idade_ft = 2020 - np.array(ano_ft)

In [102]:
for i in range(len(index)):
    df['idade'][index[i]] = idade_ft[i]

<ipython-input-102-926ab9be48f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['idade'][index[i]] = idade_ft[i]

In [104]:
df.isnull().sum()

nome              0
idade             0
data_nasc         0
sexo              0
signo             0
cidade            0
estado            0
altura            0
peso              0
tipo_sanguineo    0
cor               0
dtype: int64

### b)

In [118]:
aux = []
for i in range(df.shape[0]):
    if df['data_nasc'][i][6:] =='':
        aux.append(i)

In [138]:
aux = np.array(aux)

In [139]:
ano = np.array(2020 - df['idade'][aux])

In [140]:
for i in range(len(aux)):
    df['data_nasc'][aux[i]] = df['data_nasc'][aux[i]] +'/' + str(int(ano[i]))

<ipython-input-140-5d95d2af76cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data_nasc'][aux[i]] = df['data_nasc'][aux[i]] +'/' + str(int(ano[i]))

# respostas do exercicios

In [142]:
# resultado do número 1
np.sum(df['idade']>=50)

30

In [143]:
# resultado do número 2
np.mean(df['idade'][df['estado'] == 'MT'])

44.6

In [146]:
# resultado do número 4
anos = np.zeros(df.shape[0])
for i in range(len(anos)):
    anos[i] = int(df['data_nasc'][i][6:])
sum((anos >=1968) & (anos<=1978))

In [154]:
# resultado do número 5
df['nome'][np.argmax(df['idade'])]

'Thales Bento'

In [156]:
# resultado do número 6
df['nome'][np.argmin(df['idade'])]

'João Pedro'